*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding-left: 1.2rem;
    padding-right: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    box-shadow: 5px 3px 5px #c6c4c4;
}

header img{
    width: 45%;
}

.cabecero{
    display: flex;
    padding: 0.8rem;
}

.cabecero p{
    margin-top: 1rem;
}

strong{
    display: block;
    font-size: 1.2rem;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu > li > a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 15px;
    line-height: 10px;
}

.submenu{
    background-color: #ffff;
    position: absolute;
    display: none;
    list-style: none;
    width: 6rem;
    margin-left: 1rem;
    box-shadow: 5px 3px 5px #c6c4c4;
}

.menu li:hover .submenu{
    display: block;
}

.submenu li:hover a{
    background-color: #FFF6E6;
    color: #FFA500;
}

.submenu li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    padding-left: 0.8rem;
    border: 1px solid #dedada;
}

main{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.presentation{
    width: 70%;
    padding: 1.5rem;
    padding-left: 2.5rem;
}

.main-text{
    position: absolute;
}

.presentation h1{
    font-size: 4.2rem;
    line-height: 50px;
    margin-bottom: 1rem;
    padding-top: 2rem;
    font-weight: 400;
}

.last_word{
    color: #FFA500;
}

.presentation p{
    width: 43%;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 22px;
    color: #808080;
}

img[alt="main-img"]{
    float: right;
    padding-right: 5rem;
}

.hobbies{
    display: inline-block;
    padding-top: 2rem;
}

.hobbies h3{
    width: 95%;
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    padding-left: 0;
    font-size: 1.6rem;
    line-height: 24px;
}

.aboutme{
    display: flex;
    margin-top: 1rem;
    gap: 2.5rem;
}

.aboutme div{
    width: 28%;
    text-align: center;
    border: 2px solid #FFA500;
    border-radius: 30px;
    padding: 1rem;
}

.aboutme div:nth-child(2){
    border: none;
    background-color: #FFF6E5;
}

.aboutme p{
    color: #808080;
    width: 100%;
}

h5{
    font-size: 1.5rem;
    padding: 1rem;
}

.portfolio_lateral{
    width: 30%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
    padding: 1.5rem;
    padding-top: 3rem;
    box-shadow: 5px 3px 5px #c6c4c4;
}

.portfolio_lateral h2{
    text-align: center;
}

.portfolio_lateral h5{
    display: inline;
    padding: 0;
    width: fit-content;
}

.portfolio_lateral p{
    color: #808080;
    margin-top: 0.5rem;
}

.experience{
    padding: 2rem;
}

.subtittle{
    display: flex;
    align-items: center;
}

.experience span{
    text-align: center;
    width: 8rem;
    font-size: 0.7rem;
    display: inline;
    color: #FFA500;
    border: 2px solid #FFA500;
    border-radius: 40px;
    background-color: #FFF6E6;
    margin-left: 1rem;
}

.experience img{
    float: right;
    width: 12%;
    padding: 0.2rem;
    margin-top: 1rem;
}

.portfolio_lateral hr{
    margin: 2rem;
    margin-bottom: 0;
    width: 82%;
    color: rgba(227, 222, 222, 0.8);
}

footer{
    padding-top: 0;
    padding: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;
}

.social_media{
    display: flex;
    justify-content: right;
    color: #808080;
    gap: 3rem;
}

footer img{
    width: 1.5rem;
    margin-right: 0.5rem;
}

.social_media__item{
    display: flex;
    align-items: center;
}